.calculator{
    width: 450px;
    height: 562px;
    margin: 80px 525px;
    background-color: #0B0D0C;
}
#screen
{
    width: 88%;
    height: 50px;
    margin: 20px 21px;
    font-size: 32px;
    text-align: end;
    background-color: #1ED98B;
    pointer-events: none;
    border: 5px ridge white;
}
.button{
    width: 75px;
    height: 60px;
    margin: 15px 10px;
    background-color:orangered;
    font-size: 25px;
}
.button:hover{
    background-color:#1ED98B;
}
.button-row1{
    margin-left: 29px;
}
.button-row2{
    margin-left: 29px;
}
.button-row3{
    margin-left: 29px;
}
.button-row4{
    margin-left: 29px;
}
.button-row5{
    margin-left: 29px;
}





